/*Background*/
/*body{
    font-family: Arvo, serif;
    background: url(Images/Alfadezbackground2.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}*/
article,table,tbody,tr,td{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
body{
    background-color: #EBEBEB
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer{
  margin-top:  ;
  padding: 5px;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  flex: 0 0 auto;
  background-color: white
}

.logo{
   height: 45px; 
    
}
[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}
.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}
.headtext{
text-align: center    
}
.deratizationMethod{
    font-size: 25px;
}
/*.contentAbout{
    flex:1 0 auto;
    font: rgb(1,1,1)
    
}*/
.wrap {
   margin-left: auto;
   margin-right: auto;
}
.wrap{
  clear: both;
  overflow: hidden;
  width: 1200px;
  padding: 0 10px;
}
article,main {
  display: block;
  z-index:1;
  margin-right: 34px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
 .container {
    height: 100%;}
 .container {
    width: 50px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
}
.Left{
    padding-top: 10px;
}
.phone {
  display: block;
  width: 50px;
  height: 50px;
  background: url("Images/Phone.png") no-repeat;
  float: left;
  margin-bottom: 6px;
}
.sidebar {
    margin-top: 10px; 
    width: 110px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
    background-color: aqua;
   }

.content {
    margin-left:px ; /* Отступ слева */
    padding-top: 50px; /* Поля вокруг текста */
    background: #EBEBEB; /* Цвет фона правой колонки */
}